@model IEnumerable<Blog.DTO.UserDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @if (!item.IsAdmin)
                {
                    @Html.ActionLink("Make Admin", "MakeAdmin", new { id = item.Id }) 
                    <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>
