@model Blog.DTO.UserBlogDTO

@{
    ViewBag.Title = "View";
}

<div class="row">
    <div class="jumbotron m-t-10">
        <h1 class="display-4">@Model.Title</h1>
        <p class="lead">@Model.PublishDate</p>
        <hr class="my-4">
        <p>@Model.Content</p>
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>

@if (User.Identity.IsAuthenticated)
{
    <div class="">

        @using (Html.BeginForm("CreateComment", "Blog", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(m => m.Id)

                <div class="form-group">
                    <label for="comment">Add Comment</label>
                    <textarea required class="form-control" style="min-width: 100%" rows="5" id="Comment" name="Comment"></textarea>
                </div>

                <div class="form-group">
                    <div class="pull-right">
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>
}

<h3>Comments</h3>
@foreach (var comment in Model.BlogComments)
{
    <div class="well">
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">@comment.Comment</h4>
                <h5 class="media-heading">@comment.PostBy.UserName</h5>
                <ul class="list-inline list-unstyled">
                    <li><span><i class="glyphicon glyphicon-calendar"></i>@comment.CommentPostDate.ToShortDateString()</span></li>
                </ul>
            </div>
        </div>
    </div>
}